<div class="container"
    fxLayout="column" 
    fxLayoutGap="10px" >
<div fxFlex fxLayout ="row">
        <mat-card *ngIf="dish" style="width: 40%;" >
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name |uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{dish.image}} alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-list *ngIf="dish" style="width: 32%;">
                <mat-list-item>
                    <h3>Comments</h3>
                </mat-list-item>
        <mat-list *ngIf="dish">
            <mat-list-item *ngFor="let comments of dish.comments" >
                <h4 matLine>{{comments.comment}}</h4>
                <p matLine>{{comments.rating}} Stars</p>
                <p matLine>--{{comments.author}} {{comments.date |date}}</p>
            </mat-list-item> 
        </mat-list>
        </mat-list>
    </div>
</div>
